parameters:
  bootstrapFiles:
    - tests/bootstrap.php
  paths:
    - src
    - tests
  level: 8
  ignoreErrors:
    - '#type has no value type specified in iterable type array#'
    - '#has parameter .* with no value type specified in iterable type array#'
    - '#has parameter .* with generic interface .* but does not specify its types#'
